<!DOCTYPE html>
<html>
  <head>
    <title>RedisBoard</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <%= render "shared/header" %>
      <% @users = User.all %>
      <%= render "shared/users", locals: { users: @users } %>
    </div>

    <div>
      <%= yield %>
    </div>

    <div>
      <% @categories = Category.all %>
      <%= render "shared/categories", locals: { categories: @categories }%>
    </div>
  </body>
</html>
